<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Developer Course</title>
    <!--Container for metadata is not displayed
    Title, Styles, Scripts, Meta and others-->
    <meta name="James">
    <style></style>
</head>


<body>
Welcome to Java Developer Course !!!
<h1>Spring Boot</h1>
<!--
<h2>Spring Boot</h2>
<h3>Spring Boot</h3>


<h4 align="center" style="color:blue">Spring Framework</h4>

<img src="springboot.png">

<ul>
    <li>MVC</li>
    <li>ORM</li>
    <li>API</li>
</ul>

<a href="https://amazon.com">Amazon</a>
<table>
-->
<tr>
    <td>IOC</td>
    <td>DI</td>
    <td>VALUE</td>
</tr>
<tr>
    <td>Loop</td>
    <td>Collection</td>
    <td>Stream</td>
</tr>
</table>

<!--Forms-->
<label>Username:</label>
<input type="text" name="Username"><br>

<label>Password:</label>
<input type="password" name="Password"><br>

<label>Enter Your Comments:</label>
<textarea name="comments"></textarea><br>

<label>Please select your subject:</label><br>
<input type="radio" name="Spring" value="IOC">IOC
<input type="radio" name="Spring" value="DI" checked="checked">DI
<input type="radio" name="Spring" value="MVC">MVC

<label>Please select your company:</label><br><br>
<input type="checkbox" name="company" value="bank Of America">BOA
<input type="checkbox" name="company" value="South West AirLines">SWE
<input type="checkbox" name="company" value="Limited">LTD
<br>
<br>
<label>Select your car:</label><br>
<select name="cars">
    <option value="honda">Honda</option>
    <option value="Nissan">Nissan</option>
    <option value="BMW">BMW</option>
</select>

<br>
<br>

<form action="#" method="get">
    First name<input type="text" name="first_name"/>
    <br>
    Last name<input type="text" name="last_name"/>
</form>

<div>
    <h3>This is Java Developer Course</h3>
    <ul>
        <li>Spring Framework</li>
        <li>Security</li>
        <li>Unit testing</li>
    </ul>
</div>

</body>
</html>